<div class="jumbotron">
  <div class="container">

<h1>Sign Up</h1>

<%= form_for @user do |x| %>
  <%= x.label "username" %>
  <%= x.text_field :username %><br>
  <%= x.label "email" %>
  <%= x.text_field :email %><br>
  <%= x.label "password" %>
  <%= x.password_field :password %><br>
  <%= x.label "password_confirmation" %>
  <%= x.password_field :password_confirmation %><br>
  <%= x.submit %>

  <%end%>

</div>
</div>