<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<p class="navbar-text pull-right">Sign out as <a href="#" class="navbar-link"><%= @user.username%></a>
<br>
<%= link_to "Logout", logout_path %>
</p>

<div class="container">
  <div class="row">
<div class="col-xs-12 col-sm-6 col-md-9">
<h1>Hi <%= @user.username.capitalize %></h1>

<!-- introduction to the product -->

<p>After spending some time in the new Bentley GT V8, I was perplexed. The typical Bentley owner is someone who wears cufflinks, tosses his or her hair in the wind every weekend on a yacht, and travels to Europe at least four times a year. Whatever he or she buys, he or she knows it is best of best. If his or her TV options are 50” and 65”, he or she will go with the latter. A person of such material wealth will never easily accept the indignity of owning inferior products. So why would a Bentley owner choose the V8 over the W12?</p>

<p>Let’s back up a little bit. This new V8 was co-developed with Audi and is in use in their S8 – albeit with a slight power advantage. Bentley engineers assured us that the new twin-turbo 4-liter V8 would still be a delight to drive, but mostly touted 40% better fuel economy than the W12 (24 mpg on the highway). I am even more bewildered. Has Crewe been getting the wrong customer feedback? Apparently not, remarked one of their product specialists.</p>

<p>Bentley is targeting younger buyers. The new V8 is only down 67 hp and 29 lb-ft, but younger buyers want to see better fuel economy. “It isn’t about the money, it’s about the image,” he remarked. 500hp and 487 lb-ft of torque should isn’t terribly modest considering the loss of 55 lb over the front wheels over the W12 model. Another major change for the V8 is the switch to the much-loved ZF 8-speed transmission that we have sampled in almost every new Audi and BMW in the ALG fleet. The new transmission is just as smooth as in the ones we have tested; however, Bentley tuned it to be even better. The transmission is capable of dropping as many as four speeds at once when the hammer is slammed — a considerable improvement over the W12’s old 6-speed. The extra gears have the GT feeling more ready to power out of turns with its aggressive AWD. 0-60 times have dropped, but only 0.2 secs to 4.6 secs — we didn’t notice.</p>   <h6>Email: <%= @user.email %></h6>
</div>



<div class="col-xs-6 col-sm-6 col-md-3">
<h2>MY2014 Premium Midsize Coupe</h2>
      <p>Coupes and two-door hatchbacks are typically based on a corresponding four-door sedan. The majority of coupes currently on the market are either compact or midsize, while most hatchbacks are compacts.  </p>
      <p>Price
Economy two-doors start at just over $10,000, while exotic coupes run well in excess of $100,000. Lower-priced coupes and hatchbacks tend to cost slightly less than their four-door counterparts, while premium coupes are often several hundred dollars more than their sedan counterparts.</p>
    </div>
  </div>



<!-- table for users to input data concerning the product -->

<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Brand/Model</th>
      <th>Submitted</th>
      <th>Purchased Date</th>
      <th>Purchase Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.created_at.present? ? product.created_at.strftime("%B %e, %Y") : product.created_at %></td>
        <td><%= product.purchased %></td>
        <td>$<%= product.price.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></td>
        <td>

<div class="btn-group">
          <%= link_to 'New', new_product_path, :class => 'btn btn-default' %>
          <%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-default' %>
          <%= link_to 'Destroy', product_path(product), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-default' %>
</div>
          <tr>
<% end %>
  </tbody>
<!-- end of user table -->

</div>

<!-- graph -->


<%= line_chart Product.group("purchased").maximum(:price) %>


<!-- email -->



