<script src="script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<div class="container">
<h1>Auction Data:</h1>

<p>
  <b>Model:</b>
  <%= @product.name %>
</p>

<p>
  <b>Ending Price:</b>
  $<%= @product.price.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %>
</p>

<p>
  <b>Closing Date:</b>
  <%= @product.purchased %>
</p>

<p>
  <b>Location (Zip Code):</b>
  <%= @product.zip %>
</p>

<!-- clickhandler -->

<div class="btn-group">
<%= link_to 'Edit', edit_product_path(@product), :class => 'btn btn-default' %>
<%= link_to 'Back', user_path(current_user), :class => 'btn btn-default' %>
</div>
</div>


<br>

<!-- map below -->
<div class="container">

<!-- scripts -->

<script>
  jQuery(function()
  function codeAddress()
  function initialize()
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<!-- input box -->

    <div id="panel" style="display: none;">
      <input id="address" type="textbox" value="<%= @product.zip %>">
      <input type="button" value="Geocode" onclick="codeAddress()" id="code";>
    </div>
    <div id="map-canvas"></div>
  </div>
