<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
<!DOCTYPE html>
<html>

<head>
  <title>--Data--</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<ol class="breadcrumb">
  <li><a href="/"><span class="glyphicon glyphicon-list-alt"></span> Home</a></li>
  <li><a href="/users/new"><span class="glyphicon glyphicon-pencil"></span> Create</a></li>
  <li><a href="/sessions/new"><span class="glyphicon  glyphicon-log-in"></span> Login</a></li>
  <li><a href="/admin"><span class="glyphicon glyphicon-tower"></span> Admin</a></li>
</ol>

<%= flash[:errors] if flash[:errors] %>
<%= yield %>

</body>

</html>


